<!DOCTYPE html>
<html>
<head>
  <title>This is the register page</title>
</head>
<body>
  <h1>This is the register heading</h1>
  <ul>

    <% for(var stud in studs){ %>
      <li>stud</li>
    <% } %>
  </ul>
</body>
</html>
